<%= content_for :js do %>
    <%= javascript_include_tag 'jquery-ui.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'wx_batch_messages', 'data-turbolinks-track' => true %>
<% end %>
<div class="main_hd">
  <h2>群发功能</h2>
  <div class="title_tab">
    <ul class="tab_navsB">
      <li class="tab_navB first">
        <%=link_to "新建群发消息", wx_batch_messages_path %>
      </li>
      <li class="tab_navB selected hot">
        <%=link_to "已发送", batch_messages_history_wx_batch_messages_path %>
      </li>
    </ul>
  </div>
</div>

<div class="main_bd">
  <div class="table_wrp mass_history">
    <table cellpadding="0" class="table">
      <tbody class="tbody">
      <tr class="mass_item">
        <td class="table_cell tl">消息类型</td>
        <td class="table_cell tl mass_info">发送设置</td>
        <td class="table_cell tr" style="text-align:right">发送状态</td>
      </tr>

      <% @wx_batch_messages.each do |message|
        has_condition = false
      %>
          <tr class="mass_item" id=<%=message.id%>>
            <!-- 是文字消息 -->
            <% if message.msg_type == 1 %>
                <td class="table_cell tl mass_content">
                  <div class="mass_wrp">
                    <div class="appmsgSendedItem textmsg">
                      <div class="title_wrp">
                        <span class="icon"><i></i></span>
                        <span class="title">[文字]<%= message.msg_content%> </span>
                      </div>
                    </div>
                  </div>
                </td>
                <!-- 是图文消息 -->
            <% elsif message.msg_type == 0
                 article = WxArticle.find(message.msg_content)
                 resource = WxResource.find(article.cover_file_id)
            %>
                <td class="table_cell tl mass_content">
                  <div id="file402372737" class="mass_wrp  ">
                    <div class="multiple_appmsg_wrp">
                      <div class="appmsgSendedItem multiple_appmsg">
                        <a class="title_wrp" href=<%=article.content_url%> target="_blank">
                          <img class="icon icon_lh" src='<%=resource.file_url%>'>
                          <span class="title">[图文]<%=article.title%></span>
                        </a>
                        <div class="desc">
                          <div>
                            <span>阅读 1</span>
                            <span>点赞 1</span>
                          </div>
                          <div>
                          </div>
                          <div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>

                <!-- 是图片消息 -->
            <% elsif message.msg_type == 2
                 resource = WxResource.find(message.msg_content)
            %>
                <td class="table_cell tl mass_content">
                  <div id="file402372737" class="mass_wrp  ">
                    <div class="multiple_appmsg_wrp">
                      <div class="appmsgSendedItem multiple_appmsg">
                        <a class="title_wrp" href=<%=resource.wx_url%> target="_blank">
                          <img class="icon icon_lh" src='<%=resource.file_url%>'>
                          <span class="title">[图片]</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </td>
            <% end %>
            <td class="table_cell tl mass_info">
              <p class="mass_time"><%= DateTime.parse(message.create_time.to_s).strftime('%Y-%m-%d').to_s %></p>
              <!--　组别　-->
              <% unless message.wx_user_group_id.nil?
                   has_condition = true
                   group_name = WxUserGroup.where("groupid=" + message.wx_user_group_id.to_s)[0].name
              %>
                  <p>组别: <%=group_name %></p>
              <% end %>
              <!--　性别　-->
              <% if message.gender == 1
                   has_condition = true
              %>
                  <p>性别: 男</p>
              <% elsif  message.gender == 2
                   has_condition = true
              %>
                  <p>性别: 女</p>
              <% end %>
              <!--　国家　-->
              <% unless message.wx_country_id.nil?
                   has_condition = true
                   country_name = WxCountry.find(message.wx_country_id).country_name
              %>
                  <p>国家: <%=country_name %></p>
              <% end %>

              <!--　省份　-->
              <% unless message.wx_province_id.nil?
                   has_condition = true
                   province_name = WxProvince.find(message.wx_province_id).province_name
              %>
                  <p>省份: <%=province_name %></p>
              <% end %>
              <!--　城市　-->
              <% unless message.wx_city_id.nil?
                   has_condition = true
                   city_name = WxCity.find(message.wx_city_id).city_name
              %>
                  <p>城市: <%=city_name %></p>
              <% end %>
              <% unless has_condition%>
                  <p>全部用户</p>
              <% end %>

            </td>
            <td class="table_cell tl mass_opr">
              <% unless message.msg_status.nil? %>
                  <span class="js_result mass_opr_meta">发送完毕<i class="icon_arrow_down"></i></span>
                   <span class="mass_opr_meta">
                   <div class="js_desc mod-popover hide">
                     <div class="mod-popover_arrow"></div>
                     <div class="mod-popover_inner">
                       <div class="popover_content"><p>成功发送人数：<%=message.sentCount%>人</p><p>失败人数:<%=message.errorCount%>人</p></div>
                     </div>
                   </div>
                </span>
              <% else %>
                  <span class="js_result mass_opr_meta">等待发送<i class="icon_arrow_down"></i></span>
                  <span class="mass_opr_meta">
                   <div class="js_desc mod-popover hide">
                     <div class="mod-popover_arrow"></div>
                     <div class="mod-popover_inner">
                       <div class="popover_content"><p>正在排队等候系统发送，可能需要10-20分钟</p></div>
                     </div>
                   </div>
                </span>
              <% end %>


              <p class="mass_opr_del">
                <a href="javascript:void(0);">删除</a>
              </p>
            </td>
          </tr>

      <% end %>

      </tbody>
    </table>
  </div>
</div>

<script>

  $(function (){

    pageInitial();

    pageEventsBind();

    // 页面初始化
    function pageInitial(){
      //　查看发送状态的事件
      $(".js_result").hover(function(){
        $(this).next().find(".mod-popover").show();
      }).mouseleave(function(){
        $(this).next().find(".mod-popover").hide();
      });

    }


    //页面事件绑定
    function pageEventsBind(){

      //删除群发消息记录的删除按钮的点击事件
      $(".mass_opr_del>a").click(function(){

        $(this).after('<div class="delete_promote mod-popover" style="right:0px"><div class="mod-popover_arrow" style="right:35px;"></div>' +
            '<div class="mod-popover_inner"><div class="popover_content">确定删除？该操作只能删除历史消息中的记录，不能删除已经成功发送的消息。</div>' +
            '<div class="popover_bar"><button class="btn btn_primary remove">确认</button><button ' +
            'class=" btn btn_primary cancel">取消</button></div></div></div>');

        var batchMsg_id = $(this).parent().parent().parent().attr("id");


        //确认删除已发记录的按钮点击事件
        $(".remove").click(function(){
          var actionUrl = '<%=delete_message_wx_batch_messages_path %>';
          $.ajax({
            type: 'get',
            url: actionUrl,
            dataType: 'json',
            data: {message_id: batchMsg_id},
            success: function (data) {
              if(data.result == "ok"){
                location.reload();
              }
            }
          });
        });

        //取消删除已发记录的按钮点击事件
        $(".cancel").click(function(){
            $(".delete_promote").remove();
        });

      });

    }
  });

</script>